<div class="title"><a href="index.html">{{name}}</a></div>
<nav>
    <ul class="menu no-print">
        <li class="about {% if is_index %}selected{% endif %}"><a href="index.html">À propos</a></li>
        <li class="resume {% if is_resume %}selected{% endif %}"><a href="resume.html">CV</a></li>
        <li class="projects {% if is_projects %}selected{% endif %}"><a href="projects.html">Mes projets</a></li>
    </ul>
</nav>
