<header id="header">
    <div class="title"><a href="index.html">{{name}}</a></div>
    <nav>
        <ul class="menu no-print">
            <li class="about {% if is_index %}selected{% endif %}"><a href="index.html">About me</a></li>
            <li class="resume {% if is_resume %}selected{% endif %}"><a href="resume.html">Resume</a></li>
            <li class="projects {% if is_projects %}selected{% endif %}"><a href="projects.html">Projects</a></li>
        </ul>
    </nav>
</header>