<div class="title"><a href="index.html">{{name}}</a></div>
<nav>
    <ul class="menu no-print">
        <li class="about {{#is-index}}selected{{/is-index}}"><a href="index.html">About me</a></li>
        <li class="resume {{#is-resume}}selected{{/is-resume}}"><a href="resume.html">Resume</a></li>
        <li class="projects {{#is-projects}}selected{{/is-projects}}"><a href="projects.html">Projects</a></li>
    </ul>
</nav>


