body {
  font-family: "Ubuntu", arial, sans-serif;
  color: black;
  background-color: white;
  margin: 15px;
  padding: 0;
  font-weight: 400;
}

a {
  color: black;
  text-decoration: underline;
  font-weight: 500;
}

::selection {
  background: #F54040;
  color: white;
}

::-moz-selection {
  background: #F54040;
  color: white;
}

main {
  max-width: 1024px;
  margin: auto;
}

.button {
  background-color: rgba(245, 64, 64, 0.1);
  color: #F54040;
  padding: 10px 15px;
  display: inline-block;
  font-weight: 900;
  border-radius: 10px;
  font-size: 0.9rem;
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  height: 18px;
  width: 18px;
  fill: #F54040;
  padding-right: 10px;
}

.button span {
  display: inline-block;
  vertical-align: middle;
}

.header {
  display: grid;
  display: flex;
  align-items: center;
}

.header .title {
  flex: 1;
  font-size: 1.9em;
}

@media only screen and (max-width: 768px) {
  .header .title {
    font-size: 1.5em;
  }
}

.header .title a {
  font-weight: 900;
  text-decoration: none;
}

.header .menu {
  list-style-type: none;
  padding: 0;
}

.header .menu li {
  display: inline-block;
}

.header .menu li a {
  display: inline-block;
  padding: 5px;
  margin: 0 10px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.header .selected {
  position: relative;
}

.header .selected::after {
  content: "";
  position: absolute;
  height: 3px;
  background: #F54040;
  top: 100%;
  width: 35px;
  left: 50%;
  transform: translateX(-50%);
}

.homepage {
  margin-top: 70px;
  display: grid;
  grid-template-areas: "info photo";
  grid-column-gap: 40px;
}

.homepage h1 {
  font-size: 3em;
  line-height: 0.9;
  margin: 0;
}

.homepage .main {
  grid-area: info;
}

.homepage .profile-picture {
  grid-area: photo;
  width: 300px;
}

@media only screen and (max-width: 768px) {
  .homepage .profile-picture {
    display: none;
  }
}

.homepage .profile-picture img {
  width: 100%;
}

.homepage .description, .homepage .contact {
  margin: 30px 0;
}

.homepage .description {
  font-weight: 500;
}

.homepage .contact {
  list-style-type: none;
  padding: 0;
}

.homepage .contact a {
  display: inline-block;
  padding: 5px 0;
  text-decoration: none;
}

.homepage .contact a span {
  display: inline-block;
  border-bottom: 2px solid black;
}

.homepage .contact .email, .homepage .contact .github {
  padding-left: 35px;
  background-size: 18px;
  background-position: 0 50%;
  background-repeat: no-repeat;
}

.homepage .contact .email {
  background-image: url("assets/email.svg");
}

.homepage .contact .github {
  background-image: url("assets/github.svg");
}

.resume-container {
  margin-top: 15px;
}

.resume-container h2 {
  position: relative;
  margin: 20px 0 5px 0;
  padding: 0;
}

.resume-container h2:after {
  content: "";
  position: absolute;
  height: 3px;
  background: #F54040;
  top: 115%;
  width: 35px;
  left: 0;
}

.resume-container .main-description {
  font-weight: 300;
  margin: 0 0 20px 0;
}

.resume-container .contact-info {
  list-style-type: none;
  padding: 0;
  margin: 20px 0;
}

.resume-container .contact-info .country, .resume-container .contact-info .email, .resume-container .contact-info .github {
  display: inline-block;
  color: black;
  font-weight: 500;
  padding: 6px 0 6px 30px;
  text-decoration: none;
}

.resume-container .contact-info .country {
  background: url("assets/location.svg") 0 50%/18px no-repeat;
}

.resume-container .contact-info .email {
  background: url("assets/email.svg") 0 50%/18px no-repeat;
}

.resume-container .contact-info .github {
  background: url("assets/github.svg") 0 50%/18px no-repeat;
}

.resume-container .education > ul {
  list-style-type: none;
  padding: 0;
}

.resume-container .education > ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

@media only screen and (max-width: 768px) {
  .resume-container .education > ul li {
    display: block;
  }
}

.resume-container .education .date {
  font-weight: 500;
  margin-right: 25px;
}

.resume-container .education .details {
  flex: 1;
}

.resume-container .education .school, .resume-container .education .formation, .resume-container .education .description {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.resume-container .education .school {
  font-weight: 500;
  display: inline;
}

.resume-container .education .school:after {
  content: ", ";
}

.resume-container .education .formation {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  display: inline;
}

.resume-container .education .description {
  margin-top: 7px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
  display: none;
}

.resume-container .skills > ul {
  padding: 0;
  list-style-type: none;
}

.resume-container .skills > ul .title, .resume-container .skills > ul .details {
  display: inline;
  font-size: 1em;
}

.resume-container .skills > ul .title {
  font-weight: 500;
}

.resume-container .projects ul {
  padding: 0;
  list-style-type: none;
}

.resume-container .projects ul li {
  margin-bottom: 20px;
}

.resume-container .projects .type, .resume-container .projects .title, .resume-container .projects .description, .resume-container .projects .stack {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.resume-container .projects .type {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}

.resume-container .projects .title {
  font-weight: 500;
}

.resume-container .projects .description, .resume-container .projects .stack {
  margin-top: 7px;
  font-size: 0.9em;
  color: rgba(0, 0, 0, 0.6);
}

.projects-container ul {
  list-style-type: none;
  padding: 0;
}

.projects-container li {
  padding-left: 110px;
  background-repeat: no-repeat;
  background-size: 75px;
  background-position: 0 0;
  margin: 50px 0;
}

.projects-container a {
  text-decoration: none;
  color: inherit;
  font-weight: 400;
}

.projects-container .type, .projects-container .title, .projects-container .description, .projects-container .stack {
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.projects-container .type, .projects-container .title {
  font-size: 1.1em;
}

.projects-container .type {
  color: rgba(0, 0, 0, 0.6);
  font-weight: 900;
}

.projects-container .title {
  font-weight: 900;
}

.projects-container .description, .projects-container .stack {
  margin-top: 7px;
  color: rgba(0, 0, 0, 0.6);
}

@media print {
  body {
    font-size: 14px;
    margin-top: 0;
    font-family: "Merriweather";
  }
  .header .menu {
    display: none;
  }
  .resume-container .contact-info li {
    display: inline-block;
    margin-right: 30px;
  }
}
