// GENERAL STYLING
// Customize basic html tag and basic classes that can be reused accross the app
// Ex: link, button class, ...

body {
    font-family: $font-family;
    color: $text;
    background-color: $foreground;
    margin: 15px;
    padding: 0;
    font-weight: $weight-regular;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    max-width: $page-width;
    margin: auto;
}

a {
    color: $text;
    text-decoration: underline;
    font-weight: $weight-bold;
}

::selection {
  background: $primary;
  color: white;
}
::-moz-selection {
  background: $primary;
  color: white;
}

main {
    flex: 1 0 auto;
}
button, .button {
    background-color: $primary-light;
    color: $primary;
    padding: 10px 15px;
    display: inline-block;
    font-weight: $weight-black;
    border-radius: $radius;
    font-size: 0.9rem;
    border: none;
    box-shadow: none;
    cursor: pointer;
    svg {
        display: inline-block;
        vertical-align: middle;
        height: $icon-size;
        width: $icon-size;
        fill: $primary;
        padding-right: 10px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
    }
}
