$spacing: 35px;
$small-spacing: 15px;
.resume-container {
    margin-top: 15px;
    h2 {
        position: relative;
        margin: $spacing 0 8px 0;
        padding: 0;
    }
    h2:after {
        content: "";
        position: absolute;
        height: 3px;
        background: $primary;
        top: 100%;
        width: 35px;
        left: 0;
    }
    .main-description {
        font-weight: 300;
        margin: $small-spacing 0;
    }
    .contact-info {
        list-style-type: none;
        padding: 0;
        margin: 0 0 $spacing 0;
        .country, .email, .github {
            display: inline-block;
            color: $text;
            font-weight: $weight-bold;
            padding: 6px 0 6px 30px;
            text-decoration: none;
        }
        .country {
            background: url('assets/location.svg') 0 50%/18px no-repeat;
        }
        .email {
            background: url('assets/email.svg') 0 50%/18px no-repeat;
        }
        .github {
            background: url('assets/github.svg') 0 50%/18px no-repeat;
        }
    }
    .education {
        > ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            li {
                margin-bottom: $small-spacing;

                @media (min-width: $small-devices) {
                    display: grid;
                    grid-template-areas: "details date";
                    grid-template-columns: 1fr 200px;
                    align-items: flex-start;
                    gap: 25px;
                }
            }
        }
        .date {
            text-align: right;
            font-weight: $weight-bold;
            grid-area: date;
        }
        .details {
            grid-area: details;
        }
        .formation:after {
            content: ", ";
        }
        .formation {
            font-weight: $weight-bold;
            display: inline;
        }
        .school, .formation, .description {
            margin: 0;
            padding: 0;
            font-size: 1em;
        }
        .school {
            font-weight: $weight-regular;
            display: inline;
            color: $text-light;
            font-style: italic;
        }
        .description {
            margin-top: 7px;
            font-size: 0.9em;
            color: $text-light;
            display: none;
        }
    }
    .skills {
        > ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            li {
                margin-bottom: $small-spacing;
     
                @media (min-width: $small-devices) {
                    display: grid;
                    grid-template-areas: "category skills";
                    grid-template-columns: 200px auto;
                    gap: $small-spacing;
                }
            }
            .title, .details {
                margin: 0;
                padding: 0;
                font-size: 1em;
            }
            .title {
                grid-area: category;
                font-weight: $weight-bold;
                @media (min-width: $small-devices) {
                    text-align: right;
                }
            }
            .details {
                grid-area: skills;
            }
        }
    }
    .projects {
        ul {
            padding: 0;
            margin: 0;
            list-style-type: none;
            // display: grid;
            // grid-template-columns: 1fr 1fr;
            // grid-gap: $spacing;
            // @media only screen and (max-width: $small-devices) {
            //     display: block;
                li {
                    margin-bottom: $small-spacing;
                }
            // }
        }
        .type, .title, .description, .stack {
            margin: 0;
            padding: 0;
            font-size: 1em;
        }
        .type {
            font-weight: $weight-bold;
            color: $text-light;
        }
        .title {
            font-weight: $weight-bold;
        }
        .stack {
            font-style: italic;
        }
        .description, .stack {
            color: $text-light;
        }
    }
}
