<!DOCTYPE html>
<html lang="{{meta.language}}">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="{{description_page}}">
        <meta name="language" content="{{language}}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#F54040">

        <meta property="og:site_name" content="{{name}}r">
        <meta property="og:title" content="{{name}}">
        <meta property="og:url" content="{{meta.site_url}}">
        <meta property="og:language" content="{{meta.language}}">
        <meta property="og:image:url" content="">
        <meta property="og:type" content="website">

        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="main.css" rel="stylesheet">

        {% block head %}{% endblock %}

        <title>{{name}}{% if page %} • {{page}}{% endif %}</title>
    </head>
    <body>

        {% macro button(file, text) -%}
            <form method="get" action="{{file}}" target="_blank">
                <button type="submit" class="download">
                    <svg enable-background="new 0 0 451.111 451.111" height="512" viewBox="0 0 451.111 451.111" width="512" xmlns="http://www.w3.org/2000/svg"><path d="m225.556 354.445 145-145-48.333-48.333-64.444 64.444v-225.556h-64.444v225.556l-64.444-64.444-48.333 48.333z"/><path d="m0 386.667h451.111v64.444h-451.111z"/></svg>
                    <span>{{text}}</span>
                </button>
            </form>    
        {%- endmacro %}

        <header id="header"class="{% block headerclass %}{% endblock %}">
            {% include 'partials/header.j2' %}
        </header>
        <main>
            {% block content %}{% endblock %}
        </main>
        <footer id="footer" class="no-print">
            {% include 'partials/footer.j2' %}
        </footer>

        {% block scripts %}{% endblock %}
    </body>
</html>
