<!DOCTYPE html>
<html lang="{{meta.language}}">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="{{description_page}}">
        <meta name="language" content="{{language}}">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
        <meta name="theme-color" content="#F54040">

        <meta property="og:site_name" content="{{name}}r">
        <meta property="og:title" content="{{name}}">
        <meta property="og:url" content="{{meta.site_url}}">
        <meta property="og:language" content="{{meta.language}}">
        <meta property="og:image:url" content="">
        <meta property="og:type" content="website">

        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">

        <title>{{name}}</title>
    </head>
    <body>

    {# {% if page %} • {{page}}{% endif %}  #}
    
        {% include 'partials/header.j2' %}
        <main>
            {% block content %}{% endblock %}
        </main>
        {% include 'partials/footer.j2' %}

        {% block scripts %}{% endblock %}
    </body>
</html>
