<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">
        <meta charset="UTF-8">
        <title>{{name}} • {{page}}</title>
    </head>
    <body>
        <main>
            {{& header }}
            {{& body}}

            
        </main>
    </body>
</html>
