<!DOCTYPE html>
<html lang="{{meta.language}}">
    <head>
        <meta charset="UTF-8">

        <meta name="description" content="{{description-page}}">
        <meta name="language" content="{{language}}">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
        <meta name="theme-color" content="#F54040">

        <meta property="og:site_name" content="{{name}}r">
        <meta property="og:title" content="{{name}}">
        <meta property="og:url" content="{{meta.site-url}}">
        <meta property="og:language" content="{{meta.language}}">
        <meta property="og:image:url" content="">
        <meta property="og:type" content="website">

        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet">

        <title>{{name}}{{#page}} • {{page}}{{/page}}</title>
    </head>
    <body>
    
        <header id="header">
            {{& header }}
        </header>
        <main>
            {{& body}}
        </main>
    </body>
    <footer id="footer" class="no-print">
        Generate with my <a href="">portfolio generator</a> built with Python, Mustache and Sass
    </footer>
</html>
