{% extends "base.j2" %}

{% block content %}
    <div id="homepage-wrapper">
        <div class="presentation">
            <h1>{{subtitle}}</h1>

            <p class="description">{{description}}</p>

            <ul class="contact">
                <li><a href="mailto:{{contact.email}}" class="email"><span>{{contact.email}}</span></a></li>
                <li><a href="https://{{contact.github}}" class="github" target="_blank"><span>{{contact.github}}</span></a></li>
            </ul>

        {% include 'partials/download_resume.j2' %}
        </div>

        <div class="profile-picture">
            <img src="assets/photo.jpeg" alt="Photo of myself">
        </div>
    </div>
{% endblock %}