{% extends "base.j2" %}


{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}


{% block headerclass %}no-print{% endblock %}


{% block content %}
<div id="project-details-wrapper">
    <header>
        <div class="logo">
            <img src="{{project.image}}" class="rounded-image">
        </div>
        <div class="title">
            <h1>{{project.title}}</h1>
            <p class="subtitle">{{project.subtitle}}</p>
        </div>
    </header>

    <p class="project-type">{{project.type}}</p>

    <div class="description">

        {{project.description | markdown}}
    </div>

    <ul class="links">
        {% for url in project.urls %}
        <li>
            <a href="{{url.url}}" alt="{{url.name}}" class="{{url.type}}"><span class="url-name">{{url.name}}</span> <span class="url-link">{{url.url}}<span></a>
        </li>
        {% endfor %}
    </ul>

    <h2>Technologies</h2>
    <ul class="stack">
        {% for s in project.stack %}
        <li>
            <img src="{{s.image}}" alt="{{s.type}}" class="stack-image">
            <div class="stack-description">{{s.description | markdown}}</div>
        </li>
        {% endfor %}
    </ul>

    <h2 class="screenshots-title">Screenshots</h2>
    <div class="screenshots-container">
        {% for screen in project.screenshots %}
            <div class="swiper-slide {{screen.type}}"}>
                <img src="{{screen.image}}">
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}