{% extends "base.j2" %}


{% block head %}
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
{% endblock %}
{% block headerclass %}no-print{% endblock %}


{% block content %}

<div id="project-details-wrapper">
    <header>
        <div class="logo">
            <img src="{{project.image}}" class="rounded-image">
        </div>
        <div class="title">
            <h1>{{project.title}}</h1>
            <p class="subtitle">{{project.subtitle}}</p>
        </div>
    </header>


    <div class="description">{{project.description | markdown}}</div>

    <ul class="links">
        {% for url in project.urls %}
        <li>
            <a href="{{url.url}}" alt="{{url.name}}" class="{{url.type}}"><span class="url-name">{{url.name}}</span> <span class="url-link">{{url.url}}<span></a>
        </li>
        {% endfor %}
    </ul>

    <h2>Technologies</h2>
    <ul class="stack">
        {% for s in project.stack %}
        <li>
            <img src="{{s.image}}" alt="{{s.type}}" class="stack-image">
            <div class="stack-description">{{s.description | markdown}}</div>
        </li>
        {% endfor %}
    </ul>

    <h2>Screenshots</h2>
    <div class="swiper-container">
        <div class="swiper-wrapper">
            {% for screen in project.screenshots %}
                <div class="swiper-slide">
                    <img src="{{screen.image}}">
                </div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>

        <!-- If we need navigation buttons -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>
{% endblock %}


{% block scripts %}
    <script src="https://unpkg.com/swiper/js/swiper.min.js"></script>

    <script>
        var mySwiper = new Swiper ('.swiper-container', {
            // Optional parameters
            direction: 'horizontal',
            loop: true,

            // If we need pagination
            pagination: {
                el: '.swiper-pagination',
            },

            // Navigation arrows
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        })
    </script>
{% endblock %}