<div id="resume-wrapper">
    <div class="no-print">
        {{> download-resume }}
    </div>
    
    <p class="main-description">{{description}}</p>

    <ul class="contact-info">
        <li><span class="country">{{country}}</span></li>
        <li><a class="email">{{contact.email}}</a></li>
        <li><a  class="github">{{contact.github}}</a></li>
    </ul>

    <h2>Education</h2>
    <div class="education">
        <ul>{{# education}}
            <li>
                <div class="date">{{date}}</div>
                <div class="details">
                    <h3 class="formation">{{formation}}</h3>
                    <p class="school">{{school}}</p>
                    <p class="description">{{description}}</p>
                </div>
            </li>
        {{/ education}}</ul>
    </div>

    <h2>Skills</h2>
    <div class="skills">
        <ul>{{# skills}}
            <li>
                <h3 class="title">{{category}}</h3><p class="details">{{details}}</p>
            </li>
        {{/ skills}}</ul>
    </div>

    <h2>Experience and projects</h2>
    <div class="projects">
        <ul>{{# projects}}
            <li>
                <p class="type">{{type}}</p>
                <h3 class="title">{{title}}</h3>
                <p class="description">{{description}}</p>
                <p class="stack">{{stack}}</p>
            </li>
        {{/ projects}}</ul>
    </div>
</div>
