@media print {
    body {
        font-size: 14px;
        margin-top: 0;
        // font-family: "Merriweather";
    }
    .header {
        .menu {
            display: none;
        }
    }
    .resume-container {
        .contact-info {
            li {
                display: inline-block;
                margin-right: 30px;
            }
        }
    }
}
